{% extends 'base.html.twig' %}

{% block title %}Add article{% endblock %}

{% block body %}

    <h1 class="title">Ajout d'article</h1>
    {{ form_start(form) }}
    <div class="field column is-three-fifths is-offset-one-fifth">
        <div class="control">
            {{ form_row(form.title, {'attr': {'class': 'input is-primary', 'placeholder': 'Entrez un titre'}}) }}
        </div>
        <div class="control">
            {{ form_row(form.content, {'attr': {'class': 'input is-primary', 'placeholder': 'Entrez un texte'}}) }}
        </div>
        <div class="control">
            {{ form_row(form.img, {'attr': {'class': 'input is-primary', 'placeholder': 'Entrez une image'}}) }}
        </div>
        <div class="control" style="margin: 15px 0">
            <div class="select is-primary">
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="control" style="margin: 15px 0">
            <input type="submit" class="button is-primary" value="Valider">
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}